<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>FileBrowserClient</string>
	<key>CFBundleShortVersionString</key>
	<string>1.36.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Photo library is used to save downloaded photos/videos.</string>
</dict>
</plist>
